.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fddf72;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
}
ul li:hover .dropdown-content {
  display: block;
}
.topo_pagina{
  width:900width;
  height:60px;
  background-color: #ffd503;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:150%
  }
  .spc_tp{
  width:60px;
  height:60px;
  }
  .spc_yp_logo{
    width: 58px;
    height: 58px;
    background-color: #fff;
    border: 1px solid black;
  }
.rodape{
    background-color:#fcd74d ;
    color: black;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    position: sticky;
}
.rodape a{
    text-decoration: none;
    color: black;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: black;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
