* {
  margin: 0px;
  padding: 0px;
}

.containerLogo {
  background-color: #ffd503;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 20px;
}

.botoesMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}
.button {
  /* width: 200px;
    height: 60px; */
  border-radius: 50px;
  background-color: #ffd503;
  border: 2px solid;
  color: black;
  text-align: center;
  font-size: 21px;
  padding: 7px;
  /* width: relative; */
  cursor: pointer;
  margin: 5px;
}
.button span {
  position: relative;
  transition: 1s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 1s;
}
.button:hover span {
  padding-right: 20px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.containerDatas {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid #f0e094;
  border-radius: 50px;
  padding: 30px;
  margin: 50px;
}

.containerSobre {
  display: flex;
  flex-direction: row;
  margin: 20px 50px;
  justify-content: space-evenly;
}
.containerSobreTexto {
  flex-direction: column;
  max-width: 50%;
  border: 3px solid #f0e094;
  border-radius: 50px;
  padding: 30px;
  /* box-shadow: 5px 5px #f0da6a; */
}

.containerSobreTexto > div h1 {
  text-align: center;
  margin: 20px 0px 50px 0px;
}

.containerSobreTexto > div p {
  text-align: justify;
}

.foto {
  border-radius: 50px;
  width: 550px;
  height: 350px;
}

.containerFuncionarios {
  margin: 20px 50px;
}

.tituloFuncionarios > h1 {
  margin-top: 50px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fddf72;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
}

ul li:hover .dropdown-content {
  display: block;
}

ul li {
  padding: 5px 0px;
}

.lista {
  width: fit-content;
}

.containerMaps {
  margin: 20px 0px;
}

.containerRodape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffd503;
  padding: 50px;
  font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: black;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 40px 10px 30px 10px;
    bottom: 0;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: black;
}
dding: 10px;
  }

.conteudoRodape {
  text-align: center;
  .rodape-div{
    padding: 60px 0px 40px 0px;
  }
}

.conteudoRodape > h2 {
  margin-bottom: 10px;
.mySlides{
  width: 1900px;
  height: 460px;
  padding: 10px;
  border-radius: 30px;

  border: #000;


}
.conteudoRodape > p {
  margin-bottom: 10px;


.conteudoRodape > p a {
  text-decoration: none;
  color: black;
}

.rodape-direitos {
  color: #ffffff;
  background-color: black;
  padding: 10px;
  text-align: center;
}
    
